@import "../common/themeVariables";
.samrt--section {
	padding: 24px 36px;
	height: calc(100vh - 54px);
	.smart-query--inner {
		padding: 8px 18px;
		border: 1px solid $themeSecondryDefault;
		border-radius: 4px;
		height: 100%;
		h3 {
			font-weight: 500;
			line-height: 23px;
		}
		.title--box {
			margin-bottom: 10px;
		}
		.smart--query-table {
			height: calc(100% - 33px);
			.table-section {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				table {
					border-color: rgba(32, 35, 37, 12%);
					thead {
						position: sticky;
						top: 0px;
						tr {
							th {
								&:nth-child(1),
								&:nth-child(2) {
									min-width: 4%;
									width: 4%;
								}
							}
						}
					}
					tbody {
						max-height: calc(100vh - 250px);
						overflow: auto;
					}
				}
			}
		}
	}

	.smart--query-result-table {
		height: calc(100% - 33px);
		.table-section {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			table {
				border-color: rgba(32, 35, 37, 12%);
				thead {
					position: sticky;
					top: 0px;
				}
				tbody {
					max-height: calc(100vh - 250px);
					overflow: auto;
				}
			}
		}
	}

	.smart-query--result-btn {
		gap: 0px 9px;
		button {
			position: relative;
			&:nth-child(1) {
				&::after {
					position: absolute;
					content: "";
					width: 1px;
					height: 20px;
					background-color: $themeBlack;
					opacity: 12%;
					top: 0px;
					left: auto;
					right: -4.5px;
				}
			}
		}
	}
}

.run-query--modal {
	.modal-dialog {
		max-width: 674px;
		.button--wrap {
			gap: 0px 8px;
			margin-bottom: 18px;
			button {
				max-width: 88px;
				width: 100%;
				height: 20px;
				border-radius: 2px;
			}
		}
		.content--box {
			gap: 0px 16px;
			.run-query--select {
				.css-13cymwt-control,
				.css-t3ipsp-control {
					min-height: 29px;
					height: 29px;
					border-radius: 2px;
					border-color: #eaeaea;
					cursor: pointer;
					.css-1fdsijx-ValueContainer {
						height: 100%;
						padding: 0px 8px;
					}
					.css-1jqq78o-placeholder,
					.css-1dimb5e-singleValue {
						font-size: $font-11;
						font-weight: 400;
						line-height: 13px;
						color: $themeFontColor;
					}
					.css-qbdosj-Input {
						padding-top: 0px;
						padding-bottom: 0px;
						margin: 0px;
					}
					.css-1u9des2-indicatorSeparator {
						height: 20px;
						align-self: center;
						margin-top: 0px;
						margin-bottom: 0px;
					}
					.css-1xc3v61-indicatorContainer,
					.css-15lsz6c-indicatorContainer {
						padding: 0px 8px;
						color: $themeLightBlack;
					}
				}
				.css-1nmdiq5-menu {
					font-size: $font-10;
					font-weight: 400;
					line-height: 12px;
					color: $themeFontColor;
				}
				.custom--select {
					height: 29px;
					border-radius: 2px;
					border: 1px solid #eaeaea;
					cursor: pointer;
					.text--value {
						flex: 1;
						font-weight: 400;
						line-height: 13px;
					}
					.text--value {
						max-width: 280px;
						width: 100%;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					.text--value,
					.icon--separator-wrap {
						padding: 0px 8px;
						position: relative;
						.separator--line {
							position: absolute;
							width: 1px;
							height: 20px;
							opacity: 12%;
							top: 50%;
							transform: translateY(-50%);
							left: 0px;
						}
					}
				}
				.disable--color {
					background-color: $themeButtonBGColor;
				}
			}
		}
		.table--box-wrap {
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px solid #e4e5e5;
			height: 458px;
			overflow-x: hidden;
			overflow-y: auto;
			position: relative;
			.filter--btn-box {
				gap: 0px 12px;
			}
			.filter--table {
				margin-top: 11px;
				thead,
				tbody {
					tr {
						th,
						td {
							padding: 8.5px 8px;
							font-weight: 400;
							line-height: 12px;
						}
					}
				}
			}
			.table-striped > tbody > tr:nth-of-type(odd) > * {
				background-color: #f7f7f7;
			}
		}
	}
	.sorting--button {
		margin-top: 24px;
		padding-top: 24px;
		border-top: 1px solid #eaeaea;
	}
}

.output--fields {
	.modal-dialog {
		max-width: 360px;
		.checkbox--list {
			height: 528px;
			margin-top: 8px;
			overflow-y: auto;
			overflow-x: hidden;
			.checkbox--single-all-check {
				padding: 17px 12px 17px 31px;
				border-bottom: 1px solid $themeSecondryDefault;
				label {
					position: relative;
					cursor: pointer;
					input {
						position: absolute;
						width: 0px;
						height: 0px;
						opacity: 0px;
						top: 0px;
						left: 0px;
						&:checked {
							& ~ .checkmark {
								background-color: transparent;
								&::after {
									display: block;
								}
							}
						}
					}
					.checkmark {
						position: absolute;
						width: 14px;
						height: 14px;
						border-radius: 2px;
						border: 1px solid $themeBlack;
						left: -25px;
						top: 50%;
						transform: translateY(-50%);
						&::after {
							position: absolute;
							content: "";
							width: 8px;
							height: 8px;
							background-color: $themeBlack;
							border-radius: 1px;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							display: none;
						}
					}
				}
			}

			.checkbox--single {
				padding: 17px 12px 17px 31px;
				border-bottom: 1px solid $themeSecondryDefault;
				label {
					position: relative;
					cursor: pointer;
					input {
						position: absolute;
						width: 0px;
						height: 0px;
						opacity: 0px;
						top: 0px;
						left: 0px;
						&:checked {
							& ~ .checkmark {
								background-color: $themeBlack;
								&::after {
									display: block;
								}
							}
						}
					}
					.checkmark {
						position: absolute;
						width: 14px;
						height: 14px;
						border-radius: 2px;
						border: 1px solid $themeBlack;
						left: -25px;
						top: 50%;
						transform: translateY(-50%);
						&::after {
							top: 0%;
							left: 50%;
							width: 5px;
							height: 9px;
							position: absolute;
							content: "";
							border: solid white;
							border-width: 0 2px 2px 0;
							-webkit-transform: translate(-50%, -5%) rotate(45deg);
							-ms-transform: translate(-50%, -5%) rotate(45deg);
							transform: translate(-50%, -5%) rotate(45deg);
							display: none;
						}
					}
				}
				&:last-child {
					border-bottom: 0px;
				}
			}
		}
	}
}
.filter--group {
	.modal-dialog {
		max-width: 648px;
		.button--wrap {
			gap: 0px 8px;
			button {
				&:nth-child(1) {
					background-color: transparent;
					border: 1px solid $themeLightBlack;
				}
				max-width: 88px;
				width: 100%;
				height: 20px;
				border-radius: 2px;
			}
		}
		.run-query--main--select {
			height: 20px;
			.css-13cymwt-control,
			.css-t3ipsp-control {
				min-height: 20px;
				width: 199px;
				align-items: center;
				.css-1fdsijx-ValueContainer {
					.css-1jqq78o-placeholder,
					.css-1dimb5e-singleValue {
						font-size: $font-9;
						font-weight: 400;
					}
					.css-qbdosj-Input {
						margin: 0px;
						line-height: 17px;
						padding-top: 0px;
						padding-bottom: 0px;
					}
				}
				.css-1u9des2-indicatorSeparator {
					display: none;
				}
				.css-1xc3v61-indicatorContainer,
				.css-15lsz6c-indicatorContainer {
					padding: 0px 4px;
					svg {
						width: 12px;
						height: 12px;
						display: block;
					}
				}
			}
			.css-1nmdiq5-menu {
				font-size: $font-9;
				font-weight: 400;
			}
		}
		.filter--group--one {
			margin-top: 18px;
			padding: 25px 0px 16px 0px;
			border-top: 1px solid #e4e5e5;
			.filer--single-group {
				display: flex;
				align-items: end;
				gap: 16px;
				.run-query--select {
					max-width: 183px;
					width: 100%;
					.css-13cymwt-control,
					.css-t3ipsp-control {
						min-height: 29px;
						height: 29px;
						border-radius: 2px;
						border-color: $themeSecondryDefault;
						.css-1fdsijx-ValueContainer {
							height: 100%;
							padding: 0px 8px;
						}
						.css-qbdosj-Input {
							margin: 0px;
						}
						.css-1jqq78o-placeholder,
						.css-1dimb5e-singleValue {
							font-size: $font-11;
							color: $themeFontColor;
							font-weight: 600;
						}
						.css-1xc3v61-indicatorContainer,
						.css-15lsz6c-indicatorContainer {
							padding: 0px 4.5px;
						}
					}
					.css-1nmdiq5-menu {
						font-size: $font-11;
						font-weight: 400;
					}
					.filter--input {
						padding: 8px 4.5px 8px 8px;
						line-height: 13px;
						border: 1px solid $themeSecondryDefault;
						border-radius: 2px;
						height: 29px;
						font-weight: 600;
						&:focus,
						&:active,
						&:focus-within,
						&:focus-visible {
							outline: none;
						}
						&::-webkit-calendar-picker-indicator {
							background-image: url($calendar);
							background-repeat: no-repeat;
							background-size: cover;
							background-position: center;
							width: 20px;
							height: 20px;
							cursor: pointer;
						}
					}
				}
				button {
					width: 29px;
					svg {
						margin: auto;
					}
				}
			}
		}
		.sort--group--content {
			margin-top: 18px;
			padding-top: 24px;
			border-top: 1px solid #e4e5e5;
			gap: 16px;
			.content--box {
				max-width: 282px;
				width: 100%;
				.run-query--select {
					label {
						margin-bottom: 4px;
						line-height: 12px;
					}
				}
				.css-13cymwt-control,
				.css-t3ipsp-control {
					min-height: 29px;
					height: 29px;
					border-radius: 2px;
					border-color: $themeSecondryDefault;
					.css-1fdsijx-ValueContainer {
						height: 100%;
						padding: 0px 8px;
					}
					.css-qbdosj-Input {
						margin: 0px;
					}
					.css-1jqq78o-placeholder,
					.css-1dimb5e-singleValue {
						font-size: $font-11;
						color: $themeFontColor;
						font-weight: 600;
					}
					.css-1u9des2-indicatorSeparator {
						height: 20px;
						margin-top: 0px;
						margin-bottom: 0px;
						align-self: center;
					}
					.css-1xc3v61-indicatorContainer,
					.css-15lsz6c-indicatorContainer {
						padding: 0px 4.5px;
					}
				}
				.css-1nmdiq5-menu {
					font-size: $font-11;
					font-weight: 400;
				}
			}
		}
	}
}
.save--query--modal {
	.modal-dialog {
		max-width: 360px;
		width: 100%;
		.save--query-content {
			.save--query-inner-content {
				margin-bottom: 4px;
				span {
					line-height: 12px;
				}
			}

			.sort--query--input {
				width: 100%;
				height: 29px;
				border: 1px solid $themeSecondryDefault;
				border-radius: 2px;
				padding: 0px 8px;
				font-weight: 600;
				&:focus,
				&:active,
				&:focus-visible {
					border: 1px solid $themePrimaryColor;
					outline: none;
				}
			}
		}
	}
}
