//  ============> COLOR'S <============

$themePrimaryColor: #2684FF;
$themeBGcolor: #eaeef1;
$themeBlack: #202325;
$themeFontColor: #252525;
$themeSeconderyFontColor: #e7e8e8;
$themeSecondryDefault: #d3d3d3;
$themeStaticWhite: #ffffff;
$themeDefaultColor: #ccc;
$themeDefaultFontColor: #adadad;
$themePrimaryBlack: #333333;
$themeSecondryBlack: #555;
$themeLoginBtnColor: #145585;
$themeHoverColor: #10456d;
$themeSeconderyLightColor: #337ab7;
$themeLightBlack: #6a6c6e;
$themeButtonBGColor: #f2f2f2;
$themeDarkDefaultColor: #858585;
$themeDangerColor: #FF0000;

//  ============> FONT-SIZE'S <============

$font-9: 9px;
$font-10: 10px;
$font-11: 11px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-19: 19px;
$font-20: 20px;
$font-21: 21px;
$font-24: 24px;
$font-29: 29px;

//  ============> BOX-SHADOW <============

$themeBoxShadow: 0 1px 1px rgba(0, 0, 0, 0.05);
